## Ignore common files
node_modules
.DS_Store

## ignore cdk generated folders
cdk.out

## Ignore react build folders
dist
dist-ssr

# ignore test related artifacts
*.local
coverage
.nyc_output
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

## Ignore Miscelaneous
CDK-TEMP/*
